virginia_cidr = "10.10.0.0/16"

subnets = ["10.10.0.0/24", "10.10.1.0/24", "10.10.2.0/24"]

tags = {
  "env"         = "dev"
  "owner"       = "Alejandro Pina"
  "cloud"       = "AWS"
  "IAC"         = "Terraform"
  "IAC_Version" = "1.5.5"
  "project"     = "Project Name"
  "region"      = "virginia"
}

sg_ingress_cidr = "0.0.0.0/0"

rds_access_cidr = "0.0.0.0/0"

ec2_specs = {
  "ami" = "ami-06db4d78cb1d3bbf9" # Debian 12 - x86
  "instance_type"   = "t2.micro"
}

instancias = ["apache","dotnet","java","maven"]

ingress_ports_list = [22, 80, 443]

rds_password = "change_password"
